div.bristol {
    border-left-color: #b01c2d9f
}
div.bristol .admonition-title {
    background-color: #b01c2d;
    color: #ffffff;
}

div.bristol > .admonition-title:after {
    content: '\f19d';
    color: #ffffff
}

div.reading {
    border-left-color: #5CDB939f
}
div.reading .admonition-title {
    background-color: #5CDB93;
    color: #000000;
}

div.reading > .admonition-title:after {
    content: '\f02d';
    color: #000000
}

div.thinking {
    border-left-color: #D55E009f
}
div.thinking .admonition-title {
    background-color: #D55E00;
    color: #ffffff;
}

div.thinking > .admonition-title:after {
    content: '\f5dc';
    color: #ffffff
}